<input type="text" [(ngModel)]="searchTitle" placeholder="Enter title">
<button (click)="checkContentExists()">Check Game Existence</button>

<h1>This is the item display from single id</h1>
<app-content-card [contentItem]="items"></app-content-card>


<!-- Display search result message -->
<p [ngStyle]="{'color': contentExists ? 'green' : 'red'}">{{ message }}</p>

<section>
<h1>Empty</h1>
<app-content-card *ngFor="let contentItem of contentItems | typedecider: ''" [contentItem]="contentItem"></app-content-card>
</section>
<section>
<h1>Mobile</h1>
<app-content-card *ngFor="let contentItem of contentItems | typedecider: 'Mobile'" [contentItem]="contentItem"></app-content-card>
</section>
<section>
<h1>PC</h1>
<app-content-card *ngFor="let contentItem of contentItems | typedecider: 'PC'" [contentItem]="contentItem"></app-content-card>
</section>